<?xml version="1.0"?>
<launch>
	<node name="kinfuLS" pkg="kinfu" type="kinfuLS" required="true" output="screen">
		<!-- default is /kinfu_frame -->		
		<param name="child_frame_id" type="string" value="/base" />
		<!-- default is /odom -->		
		<param name="odom_frame_id" type="string" value="/odom" />
		<!-- default is 0.2 -->
		<param name="visual_covariance" type="double" value="0.2" />
		<param name="publish_tf" type="bool" value="false" />      
	</node>

	<!--node name="image_view_rgb" pkg="image_view" type="image_view">
		<remap from="image" to="/camera/rgb/image_color"/>
	</node-->

	<!--node name="image_view_depth" pkg="image_view" type="image_view">
		<remap from="image" to="/camera/depth/image"/>
	</node-->

	<!--node name="image_view_kinfu" pkg="image_view" type="image_view">
		<remap from="image" to="/camera/kinfuLS/depth"/>
	</node-->

	<!--include file="$(find openni_launch)/launch/openni.launch"/-->
</launch>
